@model HastyResume.ViewModels.Resume.EducationViewModel

@{
    Layout = "_LayoutNoNav";
}
@addTagHelper "HastyResume.EduTagHelper,HastyResume"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=''>
    <meta name="author" content=''>

    <title>Education History - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/animate-css/animate.css">

    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   @{ 
       var s = Html.Raw("<div class='form - group'>< abel asp-for= 'Edu1_Title' > Field Of Study:</Label><input asp-for='Edu1_Title' class='form-control' id='Edu1_Title' placeholder='Computer Science'/> <span asp-validation-for='Edu1_Title' class='text - danger' /></div><div class='form - group'><label asp-for='Edu1_SchoolName'>School Name:</label><input  asp-for='Edu1_SchoolName' class='form - control' id='Edu1_SchoolName' placeholder='FIU' /><span asp-validation-for='Edu1_SchoolName' class='text-danger' /></div><br><div class='form - group'><label asp-for='Edu1_CompletionDate'>Completion Date:</label><input  asp-for='Edu1_CompletionDate' class='form - control' id='Edu1_CompletionDate' placeholder='mm / dd / yyyy' /><span asp-validation-for='Edu1_CompletionDate' class='text - danger' /></div><br><div class='form - group'><label asp-for='Edu2_BodyText'>What did you learn:</label><input  asp-for='Edu2_BodyText' class='form - control' id='Edu2_BodyText' placeholder='...' /><span asp-validation-for='Edu2_BodyText' class='text-danger /></div> ");
   }

</head>

<body id="step-two">
    <div class="container">
        <div class="row">
            <span class="col-lg-3 col-md-3"></span>
            <div class="col-lg-6 col-md-6 form-basic animated slideInLeft">
                <h1 class="text-center">Education History</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form asp-action="Education">
                    <div class="form-group">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <section id="eduFieldWrapper">
                            <div class="form-group">
                                <label asp-for="Edu1_Title">Field Of Study:</label>
                                <input asp-for="Edu1_Title" class="form-control" id="Edu1_Title" placeholder="Computer Science" />
                                <span asp-validation-for="Edu1_Title" class="text-danger" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Edu1_SchoolName">School Name:</label>
                                <input asp-for="Edu1_SchoolName" class="form-control" id="Edu1_SchoolName" placeholder="FIU" />
                                <span asp-validation-for="Edu1_SchoolName" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Edu1_CompletionDate">Completion Date:</label>
                                <input asp-for="Edu1_CompletionDate" class="form-control" id="Edu1_CompletionDate" placeholder="mm/dd/yyyy" />
                                <span asp-validation-for="Edu1_CompletionDate" class="text-danger" />
                            </div>
                            <br>
<<<<<<< HEAD
                            <div class="form-group">
                                <label asp-for="Edu2_BodyText">What did you learn:</label>
                                <input asp-for="Edu2_BodyText" class="form-control" id="Edu2_BodyText" placeholder="..." />
                                <span asp-validation-for="Edu2_BodyText" class="text-danger" />
                            </div>
                        </section>
=======
                            <label asp-for="Edu1_BodyText">Tell Us More:</label>
                            <input asp-for="Edu1_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                            <span asp-validation-for="Edu1_BodyText" class="text-danger"/>
                            
                            <br>
			                <br>
                            
                            <div class="hidden">
                                <label asp-for="Edu2_SchoolName">Institution: </label>/>
                                <input asp-for="Edu2_SchoolName" class="form-control" id="schoolName" placeholder="School Name">
                                <span asp-validation-for="Edu2_SchoolName" class="text-danger" />
                                <br>
                                <label asp-for="Edu2_CompletionDate">Completion Date:</label>
                                <input asp-for="Edu2_CompletionDate" class="form-control" id="completionDate" placeholder="mm/dd/yy">
                                <span asp-validation-for="Edu2_CompletionDate" class="text-danger"/>
                                <br>
                                <label asp-for="Edu2_BodyText">Tell Us More:</label>
                                <input asp-for="Edu2_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                                <span asp-validation-for="Edu2_BodyText" class="text-danger"/> 
                            </div>

                            <br>
                            <br>

                            <div class="hidden">
                                <label asp-for="Edu3_SchoolName">Institution: </label>/>
                                <input asp-for="Edu3_SchoolName" class="form-control" id="schoolName" placeholder="School Name">
                                <span asp-validation-for="Edu3_SchoolName" class="text-danger" />
                                <br>
                                <label asp-for="Edu3_CompletionDate">Completion Date:</label>
                                <input asp-for="Edu3_CompletionDate" class="form-control" id="completionDate" placeholder="mm/dd/yy">
                                <span asp-validation-for="Edu3_CompletionDate" class="text-danger"/>
                                <br>
                                <label asp-for="Edu3_BodyText">Tell Us More:</label>
                                <input asp-for="Edu3_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                                <span asp-validation-for="Edu3_BodyText" class="text-danger"/> 
                            </div>	
                            </section>
>>>>>>> origin/master
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                    <a href="#" id="addFieldGroup" class="btn btn-success text-white">Add Group</a>
                                
                                <button type="submit" value="Education" class="btn btn-warning text-white">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            var maxFields = 3;
            var wrapper = $("#eduFieldWrapper");
            var addButton = $("#addFieldGroup");

            var n = 1;

            function out(n) {
                        html = "<div class='form-group'><Label asp-for='Edu1_Title'>FieldOfStudy:</Label><input  asp-for='Edu1_Title'class='form-control'id='Edu1_Title'placeholder='ComputerScience'/><spanasp-validation-for='Edu1_Title'class='text-danger'/></div><divclass='form-group'><labelasp-for='Edu1_SchoolName'>SchoolName:</label><inputasp-for='Edu1_SchoolName'class='form-control'id='Edu1_SchoolName'placeholder='FIU'/><spanasp-validation-for='Edu1_SchoolName'class='text-danger'/></div><br><divclass='form-group'><labelasp-for='Edu1_CompletionDate'>CompletionDate:</label><inputasp-for='Edu1_CompletionDate'class='form-control'id='Edu1_CompletionDate'placeholder='mm/dd/yyyy'/><spanasp-validation-for='Edu1_CompletionDate'class='text-danger'/></div><br><divclass='form-group'><labelasp-for='Edu2_BodyText'>Whatdidyoulearn:</label><inputasp-for='Edu2_BodyText'class='form-control'id='Edu2_BodyText'placeholder='...'/><spanasp-validation-for='Edu2_BodyText'class='text-danger/></div>"
          return html;
            }

            addButton.click(function (e) {
                //alert("clicked");
                e.preventDefault();
		    var target = "#group-" + String(n);
                if (n < maxFields) {
                    n++;
                    wrapper.append(out(n));

                    $(target).removeClass("hidden");
		    $(target).addClass("animated slideInUp");

                }
                if (n == 3) {
                    $("#addFieldGroup").remove();
                }
            })
        })

    </script>
</body>
</html>
