@{ 
    Layout = "";
}
@model HastyResume.ViewModels.Resume.EducationViewModel


@addTagHelper "HastyResume.EduTagHelper,HastyResume"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Education History - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/animate-css/animate.css">

    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   

</head>

<body id="step-two">
    <div class="container">
        <div class="row">
            <span class="col-lg-3 col-md-3"></span>
            <div class="col-lg-6 col-md-6 form-basic animated slideInLeft">
                <h1 class="text-center">Education History</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form asp-action="Education">
                    <div class="form-group">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <section id="eduFieldWrapper">
                            <div class="form-group">
                                <label asp-for="Edu1_SchoolName">Institution: </label>
                                <input asp-for="Edu1_SchoolName" class="form-control" id="schoolName" placeholder="School Name">
                                <span asp-validation-for="Edu1_SchoolName" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Edu1_CompletionDate">Completion Date:</label>
                                <input asp-for="Edu1_CompletionDate" class="form-control" id="completionDate" value ="" placeholder="mm/dd/yy">
                                <span asp-validation-for="Edu1_CompletionDate" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Edu1_BodyText">Tell Us More:</label>
                                <input asp-for="Edu1_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                                <span asp-validation-for="Edu1_BodyText" class="text-danger" />
                            </div>
                            
                            <br>
			                <br>
                            
                            <div class="hidden" id="group-1">
                                <div class="form-group">
                                    <label asp-for="Edu2_SchoolName">Institution: </label>
                                    <input asp-for="Edu2_SchoolName" class="form-control" id="schoolName" placeholder="School Name">
                                    <span asp-validation-for="Edu2_SchoolName" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Edu2_CompletionDate">Completion Date:</label>
                                    <input asp-for="Edu2_CompletionDate" class="form-control" id="completionDate" placeholder="mm/dd/yy">
                                    <span asp-validation-for="Edu2_CompletionDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Edu2_BodyText">Tell Us More:</label>
                                    <input asp-for="Edu2_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                                    <span asp-validation-for="Edu2_BodyText" class="text-danger" />
                                </div>                      </div>

                            <br>
                            <br>

                            <div class="hidden" id="group-2">
                                <div class="form-group">
                                    <label asp-for="Edu3_SchoolName">Institution: </label>
                                    <input asp-for="Edu3_SchoolName" class="form-control" id="schoolName" placeholder="School Name">
                                    <span asp-validation-for="Edu3_SchoolName" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Edu3_CompletionDate">Completion Date:</label>
                                    <input asp-for="Edu3_CompletionDate" class="form-control" id="completionDate" placeholder="mm/dd/yy">
                                    <span asp-validation-for="Edu3_CompletionDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Edu3_BodyText">Tell Us More:</label>
                                    <input asp-for="Edu3_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="eduText">
                                    <span asp-validation-for="Edu3_BodyText" class="text-danger" />
                                </div>
                            </div>	
                            </section>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                    <a href="#" id="addFieldGroup" class="btn btn-success text-white">Add Group</a>
                                
                                <button type="submit" value="Education" class="btn btn-warning text-white">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            var maxFields = 3;
            var n = 1;
            var addButton = $('#addFieldGroup');
            
            addButton.click(function (e) {
                e.preventDefault();
		        var target = "#group-" + String(n);
                if (n < maxFields) {
                    n++;
                    $(target).removeClass("hidden");
		            $(target).addClass("animated slideInUp");
                }
                if (n == 3) {
                    $("#addFieldGroup").remove();
                }
            })
        });

    </script>
</body>
</html>
