@model HastyResume.ViewModels.Resume.SocialViewModel

@{
    Layout = "_LayoutNoNav";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/animate-css/animate.min.css">

    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="step-three">
    <div class="container">
        <div class="row">
            <span class="col-lg-3 col-md-3"></span>
            <div class="col-lg-6 col-md-6 form-basic animated slideInLeft">
                <h1 class="text-center">Get Social</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form asp-action="Social">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"><span class="fa fa-phone">Phone:</span></label>
                        <input asp-for="PhoneNumber" class="form-control" id="phonenumber" placeholder="555-555-5555">
                        <span asp-validation-for="PhoneNumber" class="text-danger"/>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label asp-for="LinkedInLink">LinkedIn:</label>
                        <input asp-for="LinkedInLink" class="form-control" id="linkedInLink" placeholder="Linkedin Profile Link">
                        <span asp-validation-for="LinkedInLink" class="text-danger" />
                    </div>
                    <hr>
                    <div class="form-group">
                        <label asp-for="GithubLink">GitHub:</label>
                        <input asp-for="GithubLink" class="form-control" id="GithubLink" placeholder="GitHub Profile Link">
                        <span asp-validation-for="LinkedInLink" class="text-danger" />
                    </div>
                    <br>
                    <div class="text-center">
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" value="Social" class="btn btn-warning text-white">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
            <span class="col-lg-3 col-md-3"></span>
        </div>
    </div>
</body>
</html>