<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="step-three">
    <div class="container">
        <div class="row">
            <span class="col-lg-3 col-md-3"></span>
            <div class="col-lg-6 col-md-6 form-basic animated slideInLeft">
                <h1 class="text-center">Get Social</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form>
                    <div class="form-group">
                        <label for="facebookLink">Facebook:</label>
                        <input type="text" class="form-control" id="facebookLink" placeholder="Facebook Profile Link"></input>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="linkedinLink">LinkedIn:</label>
                        <input type="text" class="form-control" id="linkedinLink" placeholder="Linkedin Profile Link"></input>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="githubLink">GitHub:</label>
                        <input type="text" class="form-control" id="githubLink" placeholder="GitHub Profile Link"></input>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning">
                            <a href="#" class="text-white">Continue</a>
                        </button>
                    </div>
                </form>
            </div>
            <span class="col-lg-3 col-md-3"></span>
        </div>
    </div>
</body>