<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Professional Skills - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">

    <!-- Simple Slider CSS -->
    <link rel="stylesheet" type="text/css" href="css/simple-slider.css">
    <link rel="stylesheet" type="text/css" href="css/simple-slider-volume.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Slider JS -->
    <script type="text/javascript" src="js/simple-slider.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body id="step-two">
    <div class="container">
        <div class="row">
            <!-- <span class="col-lg-3 col-md-3"></span> -->
            <div class="form-basic animated slideInLeft">
                <h1 class="text-center">Professional Skills</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form style="">
                    <div class="form-group">
                        <section id="eduFieldWrapper">
                            
                            <!-- =================================== -->
                            <label for="Skill1_ParentSkill">Category:</label>
                            <input type="text" class="form-control" id="Skill1_ParentSkill" placeholder="(Ex: Communication)"/>
                            <br>
                            <label for="Skill1_ChildSkill1Name">Skill:</label>
                            <input type="text" class="form-control" id="Skill1_ChildSkillOneName" placeholder="(Ex: Excel)"/>
                            <br>
                            <label for="Skill1_ChildSkill1Percent">Expertise:</label>
                            <br>
                            <input type="text" id="Skill1_ChildSkill1Percent" class="form-control" data-slider="true" data-slider-range="0,100" data-slider-theme="volume" />
                            <span class="output-0"></span>
                            <!-- ^ CREATE SPAN.OUTPUT DYNAMICALLY -->    
                            <!-- ======================================================== -->

                            <br><br>

                            <!-- =========================================================== -->
                            <label for="Skill1_ChildSkill2Name">Skill:</label>
                            <input type="text" class="form-control" id="Skill1_ChildSkill2Name" placeholder="(Ex: Excel)"/>
                            <br>
                       
                            <label for="Skill1_ChildSkill2Percent">Expertise:</label>
                            <input type="text" class="form-control" id="Skill1_ChildSkill2Percent" data-slider="true" data-slider-range="0,100" data-slider-theme="volume"/>
                            <span class="output-1"></span>                        
                            <!-- ==================================================================== -->
                            
                            <br><br>  
                           
                            <!-- =========================================================================== -->
                            <label for="Skill1_ChildSkillThreeName">Skill:</label>
                            <input type="text" class="form-control" id="Skill1_ChildSkillThreeName" placeholder="(Ex: Excel)"/>
                            <br>
                            <label for="Skill1_ChildSkillThreePercent">Expertise:</label>
                            <input style="max-width:100%" type="text" class="form-control" id="Skill1_ChildSkillThreePercent"/>
                            <span class="output-2"></span>
                                
                            <!-- ============================================================================ -->

                            <br><br>

                            <div id="group-1" class="hidden">
                                <!-- =================================== -->
                                <label for="Skill2_ParentSkill">Category:</label>
                                <input type="text" class="form-control" id="Skill2_ParentSkill" placeholder="(Ex: Communication)"/>
                                <br>
                                <label for="Skill2_ChildSkill1Name">Skill:</label>
                                <input type="text" class="form-control" id="Skill2_ChildSkillOneName" placeholder="(Ex: Excel)"/>
                                <br>
                                <label for="Skill2_ChildSkill1Percent">Expertise:</label>
                                <br>
                                <input type="text" id="Skill2_ChildSkill1Percent" class="form-control" data-slider="true" data-slider-range="0,100" data-slider-theme="volume" />
                                <span class="output-3"></span>
                                <!-- ^ CREATE SPAN.OUTPUT DYNAMICALLY -->    
                                <!-- ======================================================== -->

                                <br><br>

                                <!-- =========================================================== -->
                                <label for="Skill2_ChildSkill2Name">Skill:</label>
                                <input type="text" class="form-control" id="Skill2_ChildSkill2Name" placeholder="(Ex: Excel)"/>
                                <br>
                           
                                <label for="Skill2_ChildSkill2Percent">Expertise:</label>
                                <input type="text" class="form-control" id="Skill2_ChildSkill2Percent" data-slider="true" data-slider-range="0,100" data-slider-theme="volume"/>
                                <span class="output-4"></span>                        
                                <!-- ==================================================================== -->
                                
                                <br><br>  
                               
                                <!-- =========================================================================== -->
                                <label for="Skill2_ChildSkillThreeName">Third Skill NameSkill:</label>
                                <input type="text" class="form-control" id="Skill2_ChildSkillThreeName" placeholder="(Ex: Excel)"/>
                                <br>
                                <label for="Skill2_ChildSkillThreePercent">Expertise:</label>
                                <input style="max-width:100%" type="text" class="form-control" id="Skill2_ChildSkillThreePercent"/>
                                <span class="output-5"></span>
                                <br>
                                <!-- ============================================================================ -->
                                
                                <br><br>
                            </div>

                            <div id="group-2" class="hidden">
                                <!-- =================================== -->
                                <label for="Skill3_ParentSkill">Category:</label>
                                <input type="text" class="form-control" id="Skill3_ParentSkill" placeholder="(Ex: Communication)"/>
                                <br>
                                <label for="Skill3_ChildSkill1Name">Skill:</label>
                                <input type="text" class="form-control" id="Skill3_ChildSkillOneName" placeholder="(Ex: Excel)"/>
                                <br>
                                <label for="Skill3_ChildSkill1Percent">Expertise:</label>
                                <br>
                                <input type="text" id="Skill3_ChildSkill1Percent" class="form-control" data-slider="true" data-slider-range="0,100" data-slider-theme="volume" />
                                <span class="output-6"></span>
                                <!-- ^ CREATE SPAN.OUTPUT DYNAMICALLY -->    
                                <!-- ======================================================== -->

                                <br><br>

                                <!-- =========================================================== -->
                                <label for="Skill3_ChildSkill2Name">Skill:</label>
                                <input type="text" class="form-control" id="Skill3_ChildSkill2Name" placeholder="(Ex: Excel)"/>
                                <br>
                           
                                <label for="Skill3_ChildSkill2Percent">Expertise:</label>
                                <input type="text" class="form-control" id="Skill3_ChildSkill2Percent" data-slider="true" data-slider-range="0,100" data-slider-theme="volume"/>
                                <span class="output-7"></span>                        
                                <!-- ==================================================================== -->
                                
                                <br><br>  
                             
                                <!-- =========================================================================== -->
                                <label for="Skill3_ChildSkillThreeName">Skill:</label>
                                <input type="text" class="form-control" id="Skill3_ChildSkillThreeName" placeholder="(Ex: Excel)"/>
                                <br>
                                <label for="Skill3_ChildSkillThreePercent">Expertise:</label>
                                <input style="max-width:100%" type="text" class="form-control" id="Skill3_ChildSkillThreePercent"/>
                                <span class="output-8"></span>
                                <br>
                                <!-- ============================================================================ -->
                            </div>
                        </section>
                        <section class"text-center">
                            <div class="row">
                                <button id="theButton" class="btn btn-success">
                                    <a href="#" id="addFieldGroup" class="text-white">Add Group</a>
                                </button>
                                
                                <button type="submit" class="btn btn-warning">
                                    <a href="#" class="text-white">Continue</a>
                                </button>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
            <!-- <span class="col-lg-3 col-md-3"></span> -->
        </div>
    </div>
    <script type="text/javascript">

    $(document).ready(function() {
        var maxFields = 3;
        var n = 1;

        $("#theButton").click(function(e){
            //alert("clicked");
            e.preventDefault();
            var target = "group-"+String(n);
            if (n < maxFields) {                  
                n++;
                $(target).removeClass("hidden");
                $(target).addClass("animate slideInUp");
            } 
            if (n == 3) {
                $("#theButton").remove();
            }
        })

        //$('#Skill1_ChildSkillOnePercent').simpleSlider();
        $("[data-slider]:eq(0)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            // console.log(e,data)
            $("span.output-0").html(String(data.value));
            //$("span").addClass("output").insertAfternput);
            //$(this).nextAll(".output:first").text(String(data.value.toFixed(0)) + "%");
            // $(el).on("slider:ready slider:changed", function (event, data) {
            //     console.log(data);
            //     $(this).nextAll(".output:first").text(String(data.value.toFixed(0)));
            // });
        })

        $("[data-slider]:eq(1)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget).html(String(data.value));
            $("span.output-1").html(String(data.value));
        })

        $("[data-slider]:eq(2)").on('sider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-2").html(String(data.value));
        })

        $("[data-slider]:eq(3)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-3").html(String(data.value));
        })

        $("[data-slider]:eq(4)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-4").html(String(data.value));
        })

        $("[data-slider]:eq(5)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-5").html(String(data.value));
        })

        $("[data-slider]:eq(6)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-6").html(String(data.value));
        })

        $("[data-slider]:eq(7)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-7").html(String(data.value));
        })

        $("[data-slider]:eq(8)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-8").html(String(data.value));
        })

        $("[data-slider]:eq(9)").on('slider:ready slider:changed',function(e,data) {
            var input = $(e.currentTarget);
            $("span.output-9").html(String(data.value));
        })
    });


        // $("#Skill1_ChildSkillTwoPercent[data-slider]")
        // .each(function (el) {
        //   var input = $(el);
        //   $("span")
        //     .addClass("span.output")
        //     .insertAfter($(el));
        // })
        // .bind("slider:ready slider:changed", function (event, data) {
        //     $(this).nextAll(".output:first").html(String(data.value.toFixed(0)));
        // });
        
    </script>
</body>
</html>