@model HastyResume.ViewModels.Resume.WorkViewModel

@{
    Layout = "_LayoutNoNav";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Work History - Hasty Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/landing-page.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="~/lib/animate-css/animate.min.css">

    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="step-two">
    <div class="container">
        <div class="row">
            <span class="col-lg-3 col-md-3"></span>
            <div class="col-lg-6 col-md-6 form-basic animated slideInLeft">
                <h1 class="text-center">Work History</h1>
                <hr style="border-width:3px;border-color:orange;">
                <form asp-action="Work">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <section id="eduFieldWrapper">
                            <div class="form-group">
                                <label asp-for="Wrk1_CompanyName">Company: </label>
                                <input asp-for="Wrk1_CompanyName" class="form-control" id="Wrk1_CompanyName" placeholder="Company Name">
                                <span asp-validation-for="Wrk1_CompanyName" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Wrk1_CompanyPosition">Job Position:</label>
                                <input asp-for="Wrk1_CompanyPosition" class="form-control" id="Wrk1_CompanyPosition" placeholder="(Ex: Manager)">
                                <span asp-validation-for="Wrk1_CompanyPosition" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Wrk1_StartDate">Start Date:</label>
                                <input asp-for="Wrk1_StartDate" class="form-control" id="Wrk1_StartDate" placeholder="MM/DD/YYYY">
                                <span asp-validation-for="Wrk1_StartDate" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Wrk1_EndDate">End Date:</label>
                                <input asp-for="Wrk1_EndDate" class="form-control" id="Wrk1_EndDate" placeholder="MM/DD/YYYY">
                                <span asp-validation-for="Wrk1_EndDate" class="text-danger" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label asp-for="Wrk1_BodyText">Tell Us More:</label>
                                <textarea asp-for="Wrk1_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="Wrk1_BodyText"></textarea>
                                <span asp-validation-for="Wrk1_BodyText" class="text-danger" />
                            </div>

                            <br><br>

                            <div class="hidden" id="group-1">
                                <div class="form-group">
                                    <label asp-for="Wrk2_CompanyName">Company: </label>
                                    <input asp-for="Wrk2_CompanyName" class="form-control" id="Wrk2_CompanyName" placeholder="Company Name">
                                    <span asp-validation-for="Wrk2_CompanyName" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk2_CompanyPosition">Job Position:</label>
                                    <input asp-for="Wrk2_CompanyPosition" class="form-control" id="Wrk2_CompanyPosition" placeholder="(Ex: Manager)">
                                    <span asp-validation-for="Wrk2_CompanyPosition" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk2_StartDate">Start Date:</label>
                                    <input asp-for="Wrk2_StartDate" class="form-control" id="Wrk2_StartDate" placeholder="MM/DD/YYYY">
                                    <span asp-validation-for="Wrk2_StartDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk2_EndDate">End Date:</label>
                                    <input asp-for="Wrk2_EndDate" class="form-control" id="Wrk2_EndDate" placeholder="MM/DD/YYYY">
                                    <span asp-validation-for="Wrk2_EndDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk2_BodyText">Tell Us More:</label>
                                    <textarea asp-for="Wrk2_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="Wrk2_BodyText"></textarea>
                                    <span asp-validation-for="Wrk2_BodyText" class="text-danger" />
                                </div>
                            </div>

                            <br><br>

                            <div class="hidden" id="group-2">
                                <div class="form-group">
                                    <label asp-for="Wrk3_CompanyName">Company: </label>
                                    <input asp-for="Wrk3_CompanyName" class="form-control" id="Wrk3_CompanyName" placeholder="Company Name">
                                    <span asp-validation-for="Wrk3_CompanyName" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk3_CompanyPosition">Job Position:</label>
                                    <input asp-for="Wrk3_CompanyPosition" class="form-control" id="Wrk3_CompanyPosition" placeholder="(Ex: Manager)">
                                    <span asp-validation-for="Wrk3_CompanyPosition" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk3_StartDate">Start Date:</label>
                                    <input asp-for="Wrk3_StartDate" class="form-control" id="Wrk3_StartDate" placeholder="MM/DD/YYYY">
                                    <span asp-validation-for="Wrk3_StartDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk3_EndDate">End Date:</label>
                                    <input asp-for="Wrk3_EndDate" class="form-control" id="Wrk3_EndDate" placeholder="MM/DD/YYYY">
                                    <span asp-validation-for="Wrk3_EndDate" class="text-danger" />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label asp-for="Wrk3_BodyText">Tell Us More:</label>
                                    <textarea asp-for="Wrk3_BodyText" textarea style="max-width:100%" type="text" class="form-control" id="Wrk3_BodyText"></textarea>
                                    <span asp-validation-for="Wrk3_BodyText" class="text-danger" />
                                </div>
                            </div>
                        </section>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                    <a href="#" id="addFieldGroup" class="btn btn-success text-white link-clean">Add Group</a>

                                <button type="submit" value="Work" class="btn btn-warning text-white">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    $(document).ready(function() {
        var maxFields   = 3;
        var n = 1;
        var addButton = $("#addFieldGroup");
        addButton.click(function(e){
            e.preventDefault();
            var target = '#group-' + String(n);
            if (n < maxFields) {
                n++;
                $(target).removeClass('hidden');
                $(target).addClass('animated slideInUp');
            }
            if (n == 3) {
                addButton.remove();
            }
        })
    })

    </script>

</body>
</html>
